*.o
*.bin
*.iso
*.d
*.a
*.la
*.so.*
cross/*
src/build-binutils/opcodes/libtool
src/build-binutils/gprof/libtool
src/build-binutils/gprof/gprof
src/build-binutils/bfd/libtool
src/build-binutils/binutils/objdump
src/build-binutils/binutils/strip-new
src/build-binutils/binutils/size
src/build-binutils/binutils/libtool
src/build-binutils/binutils/ranlib
src/build-binutils/binutils/objcopy
src/build-binutils/binutils/sysinfo
src/build-binutils/binutils/ar
src/build-binutils/binutils/readelf
src/build-binutils/binutils/nm-new
src/build-binutils/binutils/elfedit
src/build-binutils/binutils/strings
src/build-binutils/binutils/addr2line
src/build-binutils/binutils/cxxfilt
src/build-binutils/gas/libtool
src/build-binutils/gas/as-new
src/build-binutils/ld/ld-new
src/build-binutils/ld/libtool
src/build-gcc/zlib/libtool
src/build-gcc/lto-plugin/libtool
src/build-gcc/libbacktrace/libtool
src/build-gcc/fixincludes/fixincl
src/build-gcc/build-x86_64-unknown-linux-gnu/fixincludes/fixincl
src/build-gcc/gcc/xg++
src/build-gcc/gcc/lto1
src/build-gcc/gcc/gcov
src/build-gcc/gcc/nm
src/build-gcc/gcc/cpp
src/build-gcc/gcc/cc1
src/build-gcc/gcc/gcc-ranlib
src/build-gcc/gcc/gcc-ar
src/build-gcc/gcc/build/genhooks
src/build-gcc/gcc/build/gencodes
src/build-gcc/gcc/build/genmddeps
src/build-gcc/gcc/build/genautomata
src/build-gcc/gcc/build/genopinit
src/build-gcc/gcc/build/genattrtab
src/build-gcc/gcc/build/genmodes
src/build-gcc/gcc/build/genrecog
src/build-gcc/gcc/build/genconstants
src/build-gcc/gcc/build/genattr-common
src/build-gcc/gcc/build/genpreds
src/build-gcc/gcc/build/gengtype
src/build-gcc/gcc/build/genconditions
src/build-gcc/gcc/build/genpeep
src/build-gcc/gcc/build/genchecksum
src/build-gcc/gcc/build/gengenrtl
src/build-gcc/gcc/build/genextract
src/build-gcc/gcc/build/genoutput
src/build-gcc/gcc/build/genflags
src/build-gcc/gcc/build/genenums
src/build-gcc/gcc/build/gcov-iov
src/build-gcc/gcc/build/genattr
src/build-gcc/gcc/build/gencheck
src/build-gcc/gcc/build/gencondmd
src/build-gcc/gcc/build/genemit
src/build-gcc/gcc/build/genconfig
src/build-gcc/gcc/gcov-dump
src/build-gcc/gcc/gcc-cross
src/build-gcc/gcc/as
src/build-gcc/gcc/gengtype
src/build-gcc/gcc/g++-cross
src/build-gcc/gcc/lto-wrapper
src/build-gcc/gcc/collect-ld
src/build-gcc/gcc/xgcc
src/build-gcc/gcc/collect2
src/build-gcc/gcc/cc1plus
src/build-gcc/gcc/gcc-nm
