*.o
*.bin
*.iso
*.d
*.a
*.la
*.so.*
cross/*
src/build-*
src/gcc-*
src/binutils-*
src/newlib-*
serial.out
*.sys
*.elx
*.ell
xxd_data.inc
buildid.c
btos.img
.idea/*
os.iml
.cproject
.project
.kernel.cpp.swp
*.img
src/.codelite
src/.codelite/*
src/kernel/isodir
src/kernel/isodir/*
*~
*.tar.gz
*.tar.xz
*.tar
*.zip
qemu-launch-opts.txt
src/3rdparty/freetype-2.7.1
src/3rdparty/install
src/3rdparty/libelf-0.8.9
src/3rdparty/libgd-2.1.0
src/3rdparty/libiconv-1.14
src/3rdparty/libuuid-1.0.3
src/3rdparty/ncurses-6.0
src/3rdparty/originals
src/3rdparty/parted-3.2
src/3rdparty/udis86-1.7.2
src/3rdparty/grub-2.00
src/3rdparty/sqlite-amalgamation-3200100
src/3rdparty/SDL2-2.0.7
src/disk/data
src/iso/livecd/isodir
src/iso/test/isodir
src/packages/base/data
src/packages/kernel/data/btos/boot/grub/i386-pc
src/.vscode
src/packages/kernel/copy.grub
*.pkf
create.directories
src/packages/*/data
